 .button {
    margin-top: 2;
 }

 .centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .box {
    max-width: 70vw;
    max-height: 80vh;
 }

 .center {
    display: flex;
    justify-content: center;
    align-items: center;
 }