 .button {
    margin-top: 2;
 }

 .centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
 }

 .box {
    max-width: 75vw;
    max-height: 80vh;
 }

 .center {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .custom-background {
   background-color: #f0f0f0; /* Replace this with your desired color */
 }

 .heading {
   color: #f0f0f0;
 }